@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --col-dark: black;
    --col-gray: #858795;
    --col-dark-gray: #686a75;
    --col-light: white;
    --col-primary: #d4d450;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

 .hover-nav:hover {
  background-color: var(--col-dark-gray);
  @apply  rounded-xl py-1 h-8
 }

 .hover-side:hover {
  background-color: var(--col-dark-gray);
  @apply -translate-y-1
 }

 .border-color {
    border-color: var(--col-primary);
 }

 .bg-black-color{
  background-color: var(--col-dark);
 }

 .bg-white-color{
  background-color: var(--col-light);
 }

 .bg-primary-color{
  background-color: var(--col-primary);
 }

 .bg-gray-color{
  background-color: var(--col-gray);
 }
}
